IN THE NAME OF OUR LORD,<br/>THE EXALTED, THE MOST HIGH.

<div id="part_container">Part One
  <% first = true
  @iqan.order(:number).each do |iqan|
    if iqan.part == 2 && first %>
      </div>
      <div id="part_container">Part Two
      <% first = false
    end %>

    <div id="innercontainer">
      <div style="float: left; width: 30px;"><%= link_to(iqan.number, showiqan_path(iqan.number)) %></div>
      <div style="padding-left: 30px;"><p><%= iqan.text %></p></div>

      <%= render 'layouts/iqanthemes', iqan: iqan %>
    </div>

  <% end %>
</div>
