<h1>Themes</h1>

<% @themes.order(:number).each do |theme| %>
  <div><%= link_to(theme.number, theme_path(theme.number)) %></div>
  <div><%= theme.theme %></div>

  <%= render 'layouts/themes', theme: theme %>
<% end %>
