<div><%= @theme.number %></div>
<div><%= @theme.theme %></div>
<ul>
  <% @theme.subthemes.each do |subtheme| %>
  <li><%= subtheme.subtheme %></li>
  <% end %>
</ul>


<%= link_to("Back to themes", themes_path) %>